{% extends 'layout.html' %}
{% block content %}





<!--author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>    
<title>Library Membership Form A Flat Responsive Widget Template :: w3layouts</title>
<!-- meta_tags-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Library Membership form A Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta_tag_Keywords-->
<!--css_files-->
	<link rel="stylesheet" href="../static/registeration/css/style.css"/>
	<link href="../static/registeration/css/style.css" rel="stylesheet" type="text/css" media="all"/><!--stylesheet-->
	<link rel="stylesheet" href="../static/registeration/css/font-awesome.css"><!--font_wesome_icons-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet"><!--online_fonts-->
	<link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet"><!--online_fonts-->
<!--//css_files-->
</head>
<body>
	<br><br><br><br><br><br><br><br><br>
<div class="w3l-head">
<h1>NEWS AND EVENTS</h1>
</div>
<div class="w3ls-form">
<form method="post" enctype="multipart/form-data">
	<div class="w3l-last-grid1">
		
		<div class="w3l-last-grid1">
			<div class="w3l-grid1">
				<label class="text"> Event</label>
				<div class="w3l-div">
					<i class="fa fa-calendar-o" aria-hidden="true"></i>
					<input type="text" name="fname" placeholder="event" required=""value="{{c.fname}}"/>
				</div>
			</div> 
			<div class="w3l-last-grid2">
                <div class="w3l-grid1">
                    <label class="text">Description</label>
                    <div class="w3l-div">
                        <i class="" aria-hidden="true"></i>
                        <input type="text" name="description" placeholder="" required=""value="{{c.description}}"/>
                    </div>
                </div> 
                <div class="w3l-grid1">
                    <label class="text">date</label>
                  
                    <div class="w3l-div">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <input type="date" name="date" placeholder="image" required=""value="{{c.date}}"/>
                    </div>
                </div>
			
			
                <div class="w3l-grid1">
                    <label class="text">image</label>
                  
                    <div class="w3l-div">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        <input type="file" name="image" placeholder="image" required=""value="{{c.image}}"/>
                    </div>
                </div>
		
			
		
			
	
			
		
			<div class="clear"></div>
		</div>
		
		
			
		
		
		</div>	
			
			</div>
		</div><br><br>
		<div class="clear"></div>
		<div class="w3ls-submit">
			<input type="submit" value="submit">
		</div>
		</div>
		</div>
</form>
</div></body>

<!-- Default-JavaScript -->
 <script type="text/javascript" src="../static/registeration/js/jquery-2.1.4.min.js"></script>

<!-- Calendar -->
<script src="../static/registeration/js/jquery-ui.js"></script>
	<script>
		$(function() {
		$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
<!-- //Calendar -->

{% endblock %}