<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% if alert %}
        <script>
            alert("-------responed--------")
        </script>
    {% endif %}
</head>

<body bgcolor="black" text="white">

  <hr><hr>  <center>
   <b><h1>RESPONSE</h1></b> 
  <i class="fa fa-comments-o" style="color:rgb(243, 255, 78)"></i></center> <hr><hr><br><br>
   <center><div><p>
       
        
<form method="POST">
        <h2><label for="fname">response</label>
        <input type="text" id="response" name="response"><br><br></h2>

        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div></center></p>

</body>
</html>