{%extends 'layout.html'%}
{%block content%}

<div class="newsletter_right_w3agile py-5" id="newsletter">
    <div class="container py-xl-5 py-lg-3">
        <!-- heading title -->
        <div class="main-title text-center mb-5"><BR><BR>
            <h3 class="tittle text-uppercase text-white font-weight-bold">CHATBOX</h3>
            <div class="title-icon">
                <i class="fa fa-comments-o"></i>
            </div>
            
        </div>
        <style>
            .button1
            {
               background-color: rgb(1, 21, 20);
            }
           
           </style>

                <table class="table table-striped table-bordered" style="color: #ffff;">
                    <thead>
                        <tr>
                            
                            <th>NAME</th>
                            <th>MESSAGE</th>
                            <th>RESPONSE</th>
                            
                            <!-- <th>STATUS</th> -->

                        </tr>
                    </thead>
                <tbody>
                {% for i in a %}
                <tr>            
                    <td>{{i.tid.fname}}</td>
                    <td>{{i.message}}</td>
                    <td>{{i.response}}</td>
                    <!-- <td>{{i.uid.status}}</td> -->

             
                </tr>       
                {% endfor %}
                </tbody>
                </table>
</div>
</div>

{%endblock%}
